main {
    #banner {
        width: 100%;
        height: 55vh;
        overflow: hidden;

        img {
            position: relative;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition-duration: 500ms;
        }

        .filter {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            background-color: #4c9ec152;
        }

        #info {
            top: 50%;
            transform: translateY(-75%);
            transition-duration: 500ms;

            a {
                color: var(--text-white);
            }
        }

        #pattern-group {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;

            .pattern {
                width: 30px;
                height: 30px;
            }

            #x-1, #x-2, #x-3, #triangle-1, #circle-1 {
                top: 80%;
            }

            #x-1 {
                left: 15%;
            }

            #triangle-1 {
                left: 30%;
            }

            #x-2 {
                left: 50%;
            }

            #circle-1 {
                left: 65%;
            }

            #x-3 {
                left: 75%;
            }
        }

        
    }

    #banner:hover {
        cursor: pointer;

        img {
            transform: scale(1.1);
            transition-duration: 500ms;
        }

        #info {
            top: 45%;
            transition-duration: 500ms;
        }

        #pattern-group {
            #x-1 {
                top: 12%;
            }

            #triangle-1 {
                top: 60%;
            }

            #x-2 {
                top: 25%;
            }

            #circle-1 {
                top: 60%;
            }

            #x-3 {
                top: 55%;
            }
        }
    }

    #other-news {
        transform: translateY(-50%);
        #background {
            border-radius: 20px;
            box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.42);

            a {
                h5 {
                    transition-duration: 500ms;
                }
            }

            a:hover {
                h5 {
                    color: var(--news-color);
                    transition-duration: 500ms;
                }
            }
        }
    }

    #content-home {
        position: relative;
        top: -40px;

        section {
            #list-production {
                .card-production {
                    height: 450px;
                }
            }
        }

        aside {
            #list-schedule {
                .card-schedule-home + .card-schedule-home {
                    border-top: 1px solid #C4C4C4;
                    padding-top: 10px;
                }
            }
        }
    }
}