.card-senior-researcher {
    border-radius: 10px;
    position: relative;
    height: max-content;

    #background-detail {
        width: 10%;
        height: 100%;
        top: 0;
        left: 0;
        border-radius: 10px 0 0 10px;
        position: absolute;
        background-color: var(--members-color);
    }

    #content {
        position: relative;
        width: 95%;
        height: 100%;
        left: 0;
        align-items: flex-start;

        #thumb {
            width: 25%;
            height: 100%;

            img {
                width: 140px;
                height: 140px;
                object-fit: cover;
                border-radius: 50%;
                background-color: white;
            }
        }
    }
}

@media (max-width: 992px) {
    .card-senior-researcher {
        align-items: center;

        #background-detail {
            width: 100%;
            height: 25%;
            border-radius: 10px 10px 0 0;
        }

        #content {
            width: 100%;
            left: 0;
            top: -15%;
            align-items: center;

            #thumb {
                img {
                    width: 210px;
                    height: 210px;
                }
            }
        }
    }
}