:root {
    --news-color: #0086C3;
    --production-color: #ECB340;
    --schedule-color: #A92618;
    --members-color: #2D7564;
    --about-color: #FF7C93;
    --background-gray-color: #DADADA;
    --background-white-color: #FFFFFF;
    --text-black-color: #000000;
    --text-white-color: #FFFFFF;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Bariol Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Bariol Bold'), url('../fonts/bariol_bold-webfont.woff') format('woff');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bariol Bold';
    font-weight: 700;
    font-style: normal;
    letter-spacing: 1px;
    margin-bottom: 0;
    color: var(--text-black-color);
}

body {
    background-color: var(--background-gray-color);
}

h1 {
    font-size: 41px;
}

h2 {
    font-size: 37px;
}

h3 {
    font-size: 37px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

p {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 0;
    font-weight: 400;
}

p.body {
    font-size: 15px;
}

p.body-2 {
    font-size: 12px;
}

button {
    border: 0;
    border-radius: 4px;
    padding: 3px 5px;
}

button:hover {
    filter: brightness(0.9);
}

p.tag {
    font-size: 12px;
}

.bg-news {
    background-color: var(--news-color);
}

.bg-production {
    background-color: var(--production-color);
}

.bg-schedule {
    background-color: var(--schedule-color);
}

.bg-members {
    background-color: var(--members-color);
}

.bg-about {
    background-color: var(--about-color);
}

.text-white {
    color: var(--text-white-color) !important;
}

.text-black {
    color: var(--text-black-color);
}

.text-news {
    color: var(--news-color);
}

.text-production {
    color: var(--production-color);
}

.text-schedule {
    color: var(--schedule-color);
}

.text-members {
    color: var(--members-color);
}

.text-about {
    color: var(--about-color);
}