main {
    #search-field {
        padding-top: 40px;
        padding-bottom: 120px;
        background-image: url('../icons/background-pattern.svg');
        background-repeat: no-repeat;
        background-position: center;

        form#searchform {
            div {
                input:focus {
                    color: var(--schedule-color);
                }
            }
        }

        #filters {
            .selectpicker, button {
                height: 35px;
                width: 100%;
                border-radius: 30px;
                padding: 0 13px;
                border: 0;
                box-shadow: none;
                color: var(--text-black);
                background-color: var(--background-white-color);

                .filter-option {
                    display: flex;
                    align-items: center;
                }
            }

            .selectpicker:focus, .selectpicker:active {
                outline: 0;
                border: 0;
            }
        }
    }

    #list-agenda {
        position: relative;
        top: -60px;
    }
}

@media (min-width: 992px) {
    main {
        #search-field {
            form {
                width: 60%;
            }
        }
    }
}