main {
    #search-field {
        padding-top: 40px;
        padding-bottom: 120px;
        background-image: url('../icons/background-pattern.svg');
        background-repeat: no-repeat;
        background-position: center;

        form#searchform {
            div {
                input:focus {
                    color: var(--news-color);
                }
            }
        }
    }

    #list-news {
        position: relative;
        top: -60px;
    }
}

@media (min-width: 992px) {
    main {
        #search-field {
            form {
                width: 60%;
            }
        }
    }
}