.card-production {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
    object-position: center;

    img {
        position: relative;
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition-duration: 500ms;
    }

    #info {
        #tag {
            width: fit-content;
        }

        .card-info {
            min-height: max-content;
        }
    }
}

.card-production:hover {
    cursor: pointer;

    img {
        transform: scale(1.1);
        transition-duration: 500ms;
    }
}